{% extends 'header.html' %}
{% load static %}


{% block content %}



    <div class="container mt-4">

        {{form.non_field_errors}}

        <form action="{% url 'loginn' %}" method="POST">
            {% csrf_token %}


            {% for field in form %}
            <div class="form-group">
                {{field.label_tag}}
                {{field}}
            </div>
            {% endfor %}

            <input type="submit" value="Iniciar sesion" class="btn btn-primary">
        </form>
        <br>
        <a href="{% url 'register' %}">
            <button class="btn btn-primary">Registrarme</button>
        </a>

    </div>

    
</body>

</html>

{% endblock %}